<html>
<head>
    <script type='text/javascript'>
        function addFields(){
            // Number of inputs to create
            var number = document.getElementById("member").value;
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                // Append a node with a random text
                container.appendChild(document.createTextNode("Row " + (i+1)));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "member" + i;
                container.appendChild(input);
                // Append a line break
                container.appendChild(document.createElement("br"));
            }
        }
        function addBtn() {
            var x = document.getElementById('myDiv');
            var number = document.getElementById("member").value;

            if(number >0) {
                if (x.style.visibility === 'hidden') {
                    x.style.visibility = 'visible';
                }
                else {x.style.visibility = 'visible';}
            }}

    </script>

    <title>Mario Rescuing Princess</title>
</head>
<body>
    <form action = "http://localhost:5000/login" method = "get">
        <p>Enter Grid Size:</p>
            <input type="number" id="member" name="gridlen" value=""><br />
        <p> </p>
        <a href="#" id="filldetails" onclick="addFields(); addBtn();">Click here for Grid Details</a>
        <p> </p>
            <div style="background-color:lightblue" align="left" id="container"/>

        </div>
            <div id="myDiv" class='wrap' style="visibility:hidden">
                <p>
                    <input type="submit" value = "Submit" />
                </p>
            </div>

    </form>
</body>
</html>